{% extends 'base.html.twig' %}

{% block body %}

    {% block navigation %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">User System</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                        <li><a href="{{ path('login') }}">Login</a></li>
                        <li><a href="{{ path('register') }}">Register</a></li>
                        <li><a href="{{ path('logout') }}">Logout</a></li>
                        <li><a href="{{ path('adminpage') }}">Admin</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    {% endblock navigation %}

    <div class="container">
        <div class="starter-template">
            <div class="container">
                {% block message %}{% endblock message %}
                {% if is_granted('ROLE_ADMIN') %}
                    <p>Username: {{ app.user.username }}</p>
                {% endif %}
            </div>
            <div class="container">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link href="{{ asset('css/starter-template.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent () }}
{% endblock %}
