{% extends "default/index.html.twig" %}

{% block title %}AppBundle:User:register{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
